<!DOCTYPE html>
<html ng-app="StudentRecordsApp">

<head>
    <title>Student Records</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="StudentController">
    <div class="container">
    <h1>Student Records</h1>

    <div>
        <label for="studentId">Student ID:</label>
        <input type="text" id="studentId" ng-model="studentId">
        <button ng-click="getStudent()">Get Student</button>
    </div>

    <div ng-if="student">
        <div class="results">
            <h2>Student Information</h2>
            <p><strong>Name:</strong> {{ student.name }}</p>
            <p><strong>Roll Number:</strong> {{ student.rollNumber }}</p>
            <p><strong>Course:</strong> {{ student.course }}</p>
        </div>

    </div>

</div>
</body>

</html>